
h4 {
  word-wrap: anywhere;
}

.matrix-svg-container {
  display: inline-block;
  padding: 10px;
  // text-align: center;
 }

 .graph-container {
  display: inline-block;
  padding: 10px;
 }

@import 'spectralGraph';
@import 'mapping';
