<div class="composing-modes">
  <h2>Fundamental Modes</h2>
  <div id="fundamental-modes-index"></div>
  <h3>Sole Triple Transformation</h3>
  <div id="triple-transformation"></div>
  <div>Numbers represent index of the triple</div>
  <h3>Example of Triple Transformation of triple #456</h3>
  <div id="triple-composition-all"></div>
</div>
