<% if ( typeof graph !== 'object') { %>
  <b>Error: Empty Matrix</b>
<% } else {
  const matrix = graph.booleanMatrix
  const overallWidth = typeof width === 'number' ? width : 500
  %>
  <div class="event-horizon-container" data-matrix="<%= JSON.stringify(matrix) %>" >
    <div>Event Horizon Representation of: <%= graph.name %></div>
    <p>The "Event Horizon" representation is v<sub>i+1</sub> = Av<sub>i</sub> computed n times.</p>
    <p>Think of it as looking into the path of the oncoming structure, in time.</p>
     <canvas class="event-horizon" width="<%= overallWidth %>" height="<%= overallWidth %>"></canvas>
  </div>
<% } %>
