<h1>An Adventure in Constructing a Universe from the Ruliad</h1>

<h2>The Ruliad</h2>
<pre>The set of all possible transformations of all possible graphs, starting from all possible starting conditions, computed iteratively for all possible time</pre>


