<h1>A Catalog of Structures in the Ruliad</h1>

<h2>The Ruliad</h2>
<pre>The set of all possible transformations of all possible graphs, starting from all possible starting conditions, computed iteratively for all possible time</pre>

<p>In order to establish a meaningful location in the ruliad, we need to impose an invariant for all observers in that perspective.</p>

<p>Please imagine this as perspectives embedded in perspectives, spaces within spaces.</p>

<p>Our imposed invariant is <b>the number of incoming edges should equal the number of outgoing edges</b> in these directed graphs. I call this "rank", and could use suggestions for a better term!</p>

<p>The short version of what's going on here is I have cataloged all possible graphs ( n <= 6, k <= 6) by "rank" (k), meaning each row and each column have the same number of edges connected to it.</p>

<p>I have searched <i>every possible</i> matrix of each size and each rank above, and this is the full catalog of both morphologies and symmetries present in those structures</p>

<p>I have discovered 562 of these morphologies, representing 439,024 individual graphs of consistent rank, and determined the <i>characteristic polynomial</i> for <b>all</b> of those. This was via a full search of the entire space, and the charateristic polynomials were found via Laplace expansion.</p>

<p>I call two graphs the same morphology if their characteristic polynomials are the same.</p>

<p>This website currently exists for the purpose of passing this data along to the <a href="https://www.wolframphysics.org/index.php.en">Wolfram Physics Project</a></p>

<p>This is an open source project and it can be found at <a href="https://github.com/dondrury/adjacency-matrix">https://github.com/dondrury/adjacency-matrix</a></p>

<p>This is a continuing work of love and passion that I believe will be of immense use to mankind. It has involved two years of work and many weeks of compute time.</p>
