<h2>Table View of all <%= morphs.length %> Morphs with n <= 6</h2>
<table id="morphsDataTable" class="display" width="100%"></table>
<script>
  window.morphsObject = <%- JSON.stringify(morphs) %>;
</script>